body{
    background-color: rgba(4, 52, 173, 0.2);
    margin:0 20%;
    font-family: monospace;
}

#title{
    text-align: center;
    text-shadow: 5px 5px 10px rgb(214, 12, 12);
    font-size:3em;
}

img{
    display: block;
    width: 200%;
    margin: 0 10%;
}

#img-caption{
    font-size: 20px;
}

div#tribute-info{
    background-color:rgba(114, 13, 13, 0.2);
    box-shadow: 20px 20px 15px grey;
    padding:5px 10px;
    margin-top:20px;
}
h1.title{
    color:rgb(255, 255, 255);
    text-align:center;
    text-shadow: 5px 5px 10px black;
    font-size: 5em;
}
